<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CatalogoBRASSEntities" connectionString="metadata=res://*/ModelAzure.csdl|res://*/ModelAzure.ssdl|res://*/ModelAzure.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rico3d.database.windows.net;initial catalog=CatalogoBRASS;persist security info=True;user id=rico3d;password=PqpTnc@16;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DataBaseContext" connectionString="metadata=res://*/DataBaseModel.csdl|res://*/DataBaseModel.ssdl|res://*/DataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.20.240;initial catalog=__CATALOGO_BRASS;persist security info=True;user id=BrassDataBase;password=brass2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
     <add name="DataBaseContext" connectionString="metadata=res://*/DataBaseModel.csdl|res://*/DataBaseModel.ssdl|res://*/DataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=P00940\SQLEXPRESS;initial catalog=__CATALOGO_BRASS;Integrated Security=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>